html {
    font-family: 'Ubuntu', sans-serif;
}

#map {
  height: 500px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

#flights-wrapper {
    width: 100%;
    z-index: 1;
    text-align: center;
}

#flights {
    text-align: left;
}

.first-line {
	position: inline;
	vertical-align: center;

}

.flight-quote {
		padding: 10px;
    margin: 5px 0px;
    color: #F7FFF7;
    background-color: #05A8AA;
    vertical-align: center;
    position: block;
}

	.flight-quote img {
		horizontal-align: center;
	}

	.flight-quote a{
		text-decoration: none;
		padding: 5px;
		margin: 10px;
		background-color: #FB3640;
		color: #F7FFF7;
	}

	.flight-quote a:hover{
	text-decoration: none;
	padding: 5px;
	margin: 10px;
	background-color: #F7FFF7;
	color: #FB3640;
}

#loading {
	text-align: center;
}