html {
    font-family: 'Ubuntu', sans-serif;
}

#map {
  height: 500px;
  width: 100%;
  /*position: absolute;*/
  top: 0;
  left: 0;
  z-index: 0;
}

#flights-wrapper {
    height: 500px;
    width: 100%;
    background-color: #FFE66D;
    z-index: 1;
    text-align: center;
}

#flights {
    text-align: left;
    position: inline;
}

.flight-quote {
    position: block;
    margin: 10px;
    background-color: #1C3144;
    color: #F7FFF7;
}